@charset "UTF-8";

/*INDEX*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
body{
	display:center;
	background: #34a0a4;
	justify-content: center;
	align-items: center;
}
header{
	width: 100%;
	height: 90px;
	background-color: #0b132b;
}
.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo{
	float: left;
	padding: 5px 20px 0;
}
.logo img{
	height: 80px;
}
.logo img:hover{
	transform: scale(1.1);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #00c9bd;
	transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
	display: block;
}
.navegacion .submenu .hijos{
	display: none;
	background: #0b132b;
	position: absolute;
	width: 100%;
}
.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}
.navegacion .submenu .hijos li a{
	display: block;
}

/*footer*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0b132b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 60px;
    margin-bottom: 1rem;
}

.footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

/* MAIN*/
.inicio{ 
	max-width: 750x;
	padding: 28px;
	margin: 10px 325px  ;
	border-radius: 10px;
	overflow: hidden;
	background: #F8F8FF;
	box-shadow: 0 15px 20px rgba(0,0,0,0.6)
}

.encabezado2{
	color: black;
	font-weight: bold;
}

.inicio p{
	text-align: justify; 
	color: #262626;
	line-height: 25px;
	text-indent: 30px;
	margin: 15px;
}

.listas{
	text-indent: 30px;
	list-style-position: inside;
	line-height: 30px;
}

#imag1 {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#imag2 {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 15px;
    margin: 0px auto;
}
 
td, th {
    border: 1px solid #ccc;
    padding: 5px;   
}

thead {
    background-color: black;
    color: white;
}
 

table ul {
	text-indent: 25px;
	list-style-position: inside;
	line-height: 25px;
}

.listas2 li{
	text-indent: 60px;
	list-style-position: inside;
}

.bolded{
	font-weight: bold;
}

ul {
	
	list-style-position: inside;
	line-height: 25px;
	text-align: justify; 
	color: #262626;
	line-height: 25px;
	text-indent: 30px;
	margin: 15px;
}

/* Formulario*/
.container{
	max-width: 650px;
	padding: 28px;
	margin: 10px 325px  ;
	border-radius: 10px;
	overflow: hidden;
	background: rgb(0, 36, 72);
	box-shadow: 0 15px 20px rgba(0,0,0,0.6)
}
h2{
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color: #fff;
	padding-bottom: 8px;
	border-bottom: 1px solid silver;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}
.inpt-box{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-bottom: 15px;
}
.inpt-box:nth-child(2n){
	justify-content: end;
}
.inpt-box label, .tituloGenero, .tituloProvincia, .tituloInteres, .tituloSugerencia{
	width: 95%;
	color: #fff;
	font-weight: bold;
	margin: 5px 0;
	
}
.tituloGenero, .tituloProvincia, .tituloInteres, .tituloSugerencia{
	font-size: 16px;
}

.cat-check label{
	width: 95%;
	color: #fff;
	font-weight: bold;
	margin: 5px 0;
}

.cat-genero label{
	padding: 0 20px 0 5px;
	font-size: 14px;
}

.cat-genero{
	color: #fff;
}
.cat-genero label, .cat-genero input{
	cursor: pointer;
}
.inpt-box input{
	height: 40px;
	width: 95%;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
}

.inpt-box-interes{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-bottom: 15px;
}

.cat-check label{
	padding: 0 20px 0 5px;
	font-size: 14px;
}

.cat-check{
	color: gainsboro;
}

.inpt-box-check-terms label {
	font-size: 14px;
	color: #757575;
}

.button-container{
	margin: 15px 0;
	
}
.button-container button{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	display: block;
	font-size: 20px;
	color: #34a0a4;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;	
	background:  #fff;
}

.button-container button:hover{
	color: #00c9bd;
	background-color: #0b132b;
	transform: scale(1.1);
}

.select-provincia .cat-provincia{
	position: relative;
	width: 100%;	
}

.cat-provincia select{
	appearance: none;
	border: 1px solid #d5dbd9;
	width: 100%;
	height: 100%;
	padding: 8px 10px;
	border-radius: 3px;
	outline: none;
}